<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="faixa">
    <h1><%= message %></h1>
  </div>
 
  <div class="card-container">

    <div class="card">
      <img class="imagem" src="carro-4.png">
      <div class="descricao">
        <a href="/inicio">Comprar</a>
        <a href="/inicio">Voltar</a>
      </div>
    </div>

  </div>
    
</body>
</html>