<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<nav>
  <ul>
    <li><a></a></li>
  </ul>
</nav>

  <div class="faixa">
    <h1>Concessionária Crivelli</h1>
  </div>



<div class="card-container">
  <% for (let carro of carros){ %>
  <div id="<%= carro.id%>" class="card">
    <img class="imagem" src="<%= carro.imagem%>">
    <div class="descricao">
      <a href="/produtos.ejs"><%= carro.nome%></a>
    </div>
  </div>
  <% } %>
</div>

  <!-- 
  <div class="card">
    <img class="imagem" src="carro.png">
    <div class="descricao">
     <h2>Conversível esportivo antigo</h2>
  </div>
  </div>

  <div class="card">
    <img class="imagem" src="carro-2.png">
    <div class="descricao">
     <h2>Carro esportivo black deluxe</h2>
  </div>
  </div>

  <div class="card">
    <img class="imagem" src="carro-3.png">
    <div class="descricao">
      <h2>Audi Q3 SUV laranja</h2>
    </div>
  </div>

  <div class="card">
    <img class="imagem" src="carro-4.png">
    <div class="descricao">
      <h2>BWM branca deluxe</h2>
    </div>
  </div>

  <div class="card">
    <img class="imagem" src="carro.png">
    <div class="descricao">
     <h2>Conversível esportivo antigo</h2>
  </div>
  </div>

  <div class="card">
    <img class="imagem" src="carro-2.png">
    <div class="descricao">
     <h2>Carro esportivo black deluxe</h2>
  </div>
  </div>

  <div class="card">
    <img class="imagem" src="carro-3.png">
    <div class="descricao">
      <h2>Audi Q3 SUV laranja</h2>
    </div>
  </div>

  <div class="card">
    <img class="imagem" src="carro-4.png">
    <div class="descricao">
      <h2>BWM branca deluxe</h2>
    </div>
  </div>

  <div class="card">
    <img class="imagem" src="carro.png">
    <div class="descricao">
     <h2>Conversível esportivo antigo</h2>
  </div>
  </div>

  <div class="card">
    <img class="imagem" src="carro-2.png">
    <div class="descricao">
     <h2>Carro esportivo black deluxe</h2>
  </div>
  </div>

  <div class="card">
    <img class="imagem" src="carro-3.png">
    <div class="descricao">
      <h2>Audi Q3 SUV laranja</h2>
    </div>
  </div>

  <div class="card">
    <img class="imagem" src="carro-4.png">
    <div class="descricao">
      <h2>BWM branca deluxe</h2>
    </div>
  </div>
  -->
</div>

</body>
</html>