<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="faixa">
    <h1>Concessionária Crivelli</h1>
  </div>
 
  <div class="card-container">
    <div id="<%= carro.id%>" class="card">
      <img class="imagem" src="/<%= carro.imagem%>">
      <div class="descricao">
        <a href="index.ejs"><%= carro.nome%></a>
        <p><%= carro.preco%></p>
      </div>
    </div>
  </div>

  <button href="/index">Voltar</button>
    
</body>
</html>