body {
    margin: 0; /* Remove as margens padrão do corpo da página */
    padding: 0; /* Remove o preenchimento padrão do corpo da página */
    background-image: url('fundo.png'); /* Substitua 'caminho-para-sua-imagem.jpg' pelo caminho real para sua imagem */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem na tela */
    background-repeat: no-repeat; /* Impede que a imagem seja repetida */
    background-attachment: fixed; /* Fixa a imagem de fundo na posição */
    height: 100vh; /* Define a altura para cobrir a altura total da tela */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.faixa{
    background: linear-gradient(to bottom, #81dbff, #06a0dd, #0779a7);
}

h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.card-container {
    display: flex; 
    justify-content: center; /* Centraliza horizontalmente os containers */
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
    text-align: center;
}

.card{
    width: auto;
    height: 100%;
    border: 2px solid #e4e4e4;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 7px 4px rgb(1, 160, 252);
    color: rgb(5, 4, 4);
    text-align: center;
    margin: 10px 15px 50px 10px;
    flex-direction: column;
}

a{
    width: 92%;
    border: 2px solid #e4e4e4;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 7px 4px rgb(1, 160, 252);
    color: rgb(5, 4, 4);
    text-align: center;
    font-size: 26px;
    margin: 10px 15px 1px 10px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.imagem{
    margin-bottom: 6%;
    width: 360px;
    height: 200px;
    object-fit: contain;
}

.descricao{
    background: linear-gradient(to bottom, #c978ff, #6a00ff);
    margin-top: 10px;
    max-width: 100%; /* Impede que o elemento exceda a largura do card */
    max-height: 100%; /* Impede que o elemento exceda a altura do card */
    flex-grow: 1; /* Faz com que a descrição ocupe o espaço restante vertical */
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

h2{
   color: white;
   font-size: 20px;
   position: relative;
}


